# Virtual environments
venv/
.venv/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# VS Code settings
.vscode/

# Build directories
build/
dist/

# Node modules
node_modules/

# macOS files
.DS_Store
